@charset "utf-8";
*{margin: 0; padding: 0;}
body,html{width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; font-size: 14px;
-ms-overflow-style: none;}
/* ::-webkit-scrollbar{display: none;} */
.bold{font-weight: bold;}
ul{list-style: none;}
a{text-decoration: none;}
button, input, a, img{outline: 0; border:0; background-image: none; background-color: transparent;}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="image"],input[type="tel"], textarea {-webkit-appearance:none;}

.wrap{width: 100%; margin: 0 auto; min-height: 100%; position: relative;}
.hd{position: fixed;width:100%; height: 120px; z-index: 99; background-color: #fff; border-bottom: 3px solid #ffc41d; z-index: 999;}
.hd.on{background:rgba(255, 255, 255, 0.7);}
.logo_box{position: relative;}
.logo{float: left;}
.logo img{position: absolute; width: 180px; top: 55px; left: 20%;}
.logo_box.on{background:transparent;}
.top{float: left;}
.top li{float: left; padding-right: 5px;}
.tnb{display: block; width: 100%; height: 25px; font-size: 0.9em; border-bottom: 1px solid #ccc; padding-left: 60%; margin-top: 5px; box-sizing: border-box;}
.tnb li:after{content:"|"; color:#fff; padding-left: 10px; padding-right: 10px;}
.tnb li:last-child::after{content:"";}
.tnb li a{color:#000;}
#gnb{clear: both; float: right;  margin-right: 24%; margin-top: 40px;}
.gnb{font-size: 1.1em; font-family: 'NanumSquare'; font-size: 18px;}
.gnb .menu{list-style:none; display:inline-block; width: 120px; height: 30px; position: relative; padding-left: 20px; box-sizing: border-box;}
.menu a{color:#000; font-weight: 700;}
.sub{opacity: 0; margin-top: 10px;}
.gnb li:hover .sub{opacity:1;}
.sub{position: absolute; height: auto; background-color: #fff; border-radius: 10px; width: 100%; border: 1px solid #ccc;}
.sub li{font-family: 'Noto Sans KR', sans-serif; font-size: 0.8em; font-weight: 700; margin: 5px; text-align: center; height: 20px;}
.s_sub a{color:#000;}
.sub.first{margin-left: -15px;}
.sub.two{margin-left: -20px;}
.sub.three{margin-left: -20px;}
.sub.four{margin-left: -20px;}
.sub .s_sub a:hover{color:#66999c;}
/* .toggle{display: none;} */
/* 토글버튼 */
.main_toggle{position: fixed; left: 0; top: 0;display: none;  width: 100%; text-align: center; background-color: rgba(0,0,0,0.6); height: 100%; z-index: 999;}
.main_toggle.on{display: block; bottom: 0;}
.main_tog_btn{position: absolute; color:#000; font-size: 2.0em; top: 58px; right: 410px; cursor: pointer;}
.main_tog{width: 60%; height: 280px; margin: 16% auto; border:5px solid #ffc41d; background-color: #fff;box-sizing: border-box;}

#main_tog_gnb{position: relative;background-color: #fff;}
.main_tog_gnb{position: absolute; top:70px; left: 10%; box-sizing: border-box;}
.main_tog_gnb:first-child{margin-left: 0;}
.main_tog_gnb .main_menu{float: left; font-size: 1.2em; cursor: pointer;}
.main_tog_gnb .main_menu a{display: inline-block; height: 40px; padding-top: 5px;  box-sizing: border-box;}
.main_tog_close{position: absolute;right: 15px; top: 10px; z-index: 1000; cursor: pointer;}
.main_tog_close span{font-size: 1.2em; margin-right: 10px; vertical-align: top; display: inline-block; padding-top: 3px; cursor: pointer;}
.main_tog_close i{font-size: 2.2em;}
.main_menu1{display: inline-block; width: 110px; height: 35px; border-bottom: 2px solid #ffc41d; border-top: 2px solid #ffc41d;}
.main_menu1:hover{font-weight: 700;}
.main_tog_gnb a{color:#333; font-size: 1.1em; line-height: 25px;}
.m_sub{font-size: 0.8em;}
.main_hide_sub{margin-top: 10px; z-index: 1001;}
.main_hide_sub li{clear: both; line-height: 35px;}
.main_hide_sub li a{font-size: 1.1em;}
.main_hide_sub li a:hover{font-weight: 800;}
.gnb_img{position: absolute; width: 10%; bottom: 0; left: 0;}


#vs{position: relative; width: 100%; height: 970px; clear: both; overflow: hidden;}
.img_box{width: 500%; height: 970px;}
.img_box li{float: left; width: 20%; height: 970px;}
.img_box li a{display: block; width: 100%;}
.img_box li img{width: 100%;}
#btn_box li {position:absolute; z-index:20; top:150px; width:50px; height:50px; }
#btn_box li.left {left:50px; top: 52%; cursor: pointer;}
#btn_box li.right {right:50px; top: 52%; cursor: pointer;}

/* 퀵메뉴 */
.quick{background-color: #fff; width: 100%; height: 300px;}
.quick_text{text-align: center; padding-top: 40px;}
.quick_text .q_img1{vertical-align: bottom; margin-right: 8px;}
.quick_text .q_img2{vertical-align: bottom; margin-left: 8px;}
.quick_tit{font-size: 1.4em; vertical-align: bottom;}

#quick{position:relative; width:55%; margin: 50px auto;}
#quick_menu{width: 55%; margin: 0 auto;}
#quick_menu li{text-align: center; width: 100%;}
#quick_menu li a{display: block;}
#quick_menu li .quick_txt{color:#000;}
#prevBtn{position:absolute; left:0; top:35px;}
#nextBtn{position:absolute; right:0;top:35px;}
.info{height: 369px;}
.info img{width: 100%; height: auto;}

/* 이용후기 부분 */
.review_page{width: 100%; height: 500px; margin: 0 auto; position: relative;}
.review_tit{width: 100%; text-align: center; line-height: 50px; padding-top: 50px; padding-bottom: 40px;}
.review_tit .rv_img1{vertical-align: middle; margin-right: 8px;}
.review_tit .rv_img2{vertical-align: middle; margin-left: 8px;}
.bx-wrapper{max-width:1300px !important; margin: 0 auto;}
.review{position: relative;}
.review li{float: left; margin-left: 20px; margin-right: 20px; width: 280px; height: 300px; border: 1px solid rgb(216, 216, 216); box-sizing: border-box;}
.review li a{color:#000;}
.review li img{display: block; margin: 20px auto;}
.review p{margin: 25px; font-size:1em;overflow:hidden;text-overflow:ellipsis;line-height:1.5; height:6em; word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.review .lineAni {position: absolute;width: 280px;height: 300px;top:0px;left:0px;}
.review .lineFrame {width: 280px;height: 300px;position: relative;top:-1px;left:-1px}
.lineAni .lineFrame span {position: absolute;background-color: #ffc41d;transition: 0.6s;}
.line_top{width: 0; height: 2px; left: 0; top: 0;}
.line_bottom{width: 0; height: 2px; right: 0; bottom: 0;}
.line_left{width: 2px; height: 0; left: 0; top: 0;}
.line_right{width: 2px; height: 0; right: 0; bottom: 0;}

.review li a:hover .line_top{width: 100%; border:0;}
.review li a:hover .line_bottom{width: 100%;}
.review li a:hover .line_left{height: 100%;}
.review li a:hover .line_right{height: 100%;}

#review_prev{position:absolute; left:250px; top:280px;}
#review_next{position:absolute; right:250px;top:280px;}

/* 인스타그램 계정 */
.insta{clear: both; width: 100%; height: 800px; background-color: #e0e0e0;}
.insta_tit{padding-top: 50px; font-size: 1.5em;}
.insta_tit .insta_txt{vertical-align: top; margin-left: 10px;}
.insta_box{text-align: center; }
.insta_box .ex{font-size: 2.0em; margin-top: 5%;}

/* 패밀리사이트 */
.bottom{clear: both;}
.sub_bottom{position: absolute; height: auto; width:100%; bottom: 0;}
.family_box{clear: both; width: 100%; height: 70px; border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.family_site{display: table; margin-left: auto; margin-right: auto; margin-top: 10px;}
.family_site li{float: left; margin-left: 10px; margin-right: 10px;}

/* footer부분 */
.foot_menu{height: 40px;}
.ft_menu{display: table;margin-left: auto;margin-right: auto;padding-top: 10px;}
.ft_menu li{float: left; text-align: center;}
.ft_menu li:after{content:"|"; color:rgb(138, 138, 138); padding-left: 30px; padding-right: 30px;}
.ft_menu li:last-child::after{content:""; padding-right: 0; padding-left: 0;}
.ft_menu li a{color:rgb(138, 138, 138);}
.foot{clear: both; width: 100%; height: 180px; background-color: #353d46; cursor: default;}
.footer{display: flex; margin: 0 auto; width: 60%; height: 100%;}
.ft_logo{flex: 1; text-align: left; margin-left: 30px;}
.ft_logo img{ margin-top: 4.3rem;}
.ft_content{flex: 1.5; margin-top: 25px; margin-left: 60px;}
.ft_content h4{text-indent: 22px; color:#fff; font-weight: 500;}
.add_left{float: left; text-align: center;}
.add_left i{color:#fff; margin-left: 20px; font-size: 2.5em; margin-top: 25px; margin-left: 35px;}
.add_right h5{font-size: 1.0em; color:#fff; text-indent: 40px; line-height: 25px; margin-top: 5px; font-weight: 500;}
.add_right h6{font-size: 0.9em; font-weight: 100; color:#fff; text-indent: 40px; line-height: 24px;}
.address{color:#fff;margin-left: 115px; font-size: 0.9em;}
.ft_copyright{flex:2; color:#555; margin-top: 25px;margin-left: 30px;}
.ft_copyright h4{text-indent: 20px; color:#fff; font-weight: 500;}
.ft_line{border-bottom: 1px solid rgb(156, 156, 156); margin: 5px 20px 0; width: 95%;}
.copyright1{color:#fff; margin-left: 40px; margin-top: 10px; font-size: 0.9em;}

.sub_toggle{display: none;}

/* 팝업창 */
#pop{position:absolute;left:50%;transform:translateX(-50%); top:255px;z-index:200;visibility:hidden; background-color: #fff;}
.pop_box{border:5px solid #fff;}
.pop_txt{height:25px;}
.pop_txt input{margin-left: 5px;}
.pop_txt span{margin-left: 5px;}
.pop_btn{float: right; margin-right: 10px;}
.pop_close{color:#000; font-weight: 700;}

/* 로그인페이지 */
.login_content{display: inline-block; position: relative; width: 100%; margin: 0 auto;}
.login_top{width: 40%; height: 40px; margin: 50px auto 20px;}
.log_tit{display: inline; font-weight: 200;}
.log_tit img{vertical-align: middle;}
.log_txt{display: inline; margin-left: 5px;}
.login_mid{width: 40%; margin:0 auto 350px; border: 1px solid #ccc; padding: 50px 50px; box-sizing: border-box;}
.login_form{width: 50%; margin: 10px auto;}
.email_box,.pw_box,#login_username,#login_password,.log_btn {border-radius: 0.25rem;padding: 1rem;}
.email_box,.pw_box {background-color: #ffc41d;color:#000; border-bottom-right-radius: 0;border-top-right-radius: 0;padding-left: 1.25rem;padding-right: 1.25rem; font-size: 1.2em; box-sizing: border-box;}
#login_username,#login_password{border:2px solid #ffc41d;border-bottom-left-radius: 0;border-top-left-radius: 0;}
.log_btn{width: 100%; background-color: #ffc41d;color: #000;font-weight: 700; text-transform: uppercase;cursor: pointer;}
.log_btn:focus, .log_btn:hover {background-color: #ecb723; cursor: pointer;}
.form_field {display: -webkit-box; display: -webkit-flex;display: -ms-flexbox;display: flex; margin-bottom: 1rem;}

.form_input {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}
.align {-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;}
.id_check{display: inline-block;}
.id_check input{width: 15px; height: 15px; border:1px solid #ccc;}
.login_txt{display: inline-block; margin-left: 27px;}
.id_pw{display: inline-block;}
.id_pw a{color:#000;}
.join{display: inline-block;}
.join a{color:#000;}
.hidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}

.log_line{width: 93%; margin: 30px auto 0; border-bottom: 1px solid #ccc;}

/* SNS로그인 */
.sns_login{clear: both; display: block; margin-top: 30px; text-align: center;}
.sns_login h3{display: inline; font-weight: 500; line-height: 30px;}
.sns_login p{display: inline; color:#555; font-size: 0.9em;}
.sns_login button{ margin: 20px 10px auto 0; cursor: pointer;}
.sns_login button:last-child{margin-right: 0;}
.naver_log{width: 200px; height: 40px; border: 1px solid #bdbdbd;}
.naver_log img{vertical-align: bottom;}
.naver_log span{margin-left: 10px; font-weight: 600; font-size: 1.1em;}
.facebook_log{width: 200px; height: 40px; border: 1px solid #bdbdbd;}
.facebook_log img{vertical-align: bottom;}
.facebook_log span{margin-left: 10px; font-weight: 600; font-size: 1.1em;}
.kakao_log{width: 200px; height: 40px; border: 1px solid #bdbdbd;}
.kakao_log img{vertical-align: bottom;}
.kakao_log span{margin-left: 10px; font-weight: 600; font-size: 1.1em;}

/* join 페이지 */
.join_content{display: inline-block; position: relative; width: 100%; margin: 0 auto 50px 0;}
.join_top{width: 55%; height: 40px; margin: 50px auto 20px;}
.join_tit{display: inline; font-weight: 200;}
.join_tit img{vertical-align: middle;}
.join_txt{display: inline; margin-left: 5px;}
.join_mid{width: 60%; height: 390px; margin:0 auto; box-sizing: border-box; padding: 0 30px;}
.join_mid .member{margin-top: 10px; font-size: 1.2em;}
.member_btn1{width: 200px; height: 40px; margin: 0 auto; background-color:#ffc41d; border-radius: 10px; cursor: pointer;}
.member_btn1 span{display: inline-block; font-size: 1.2em; margin-top: 7px;}
.join_left{width: 49.5%; height: 330px; border:1px solid #ccc; float: left; box-sizing: border-box; text-align: center;}
.join_left .request{margin-top: 50px; font-size: 1.2em;}
.join_left img{margin-top: 20px;}
.join_member{line-height: 40px; font-size: 1.2em;}
.join_member1{margin-bottom: 20px;}
.join_right{width: 49.5%; height: 330px; border:1px solid #ccc; float: right; box-sizing: border-box; text-align: center;}
.join_right .request{margin-top: 50px; font-size: 1.2em;}
.join_right img{margin-top: 20px;}
.join_p{position: absolute; top: 450px;}

/* join-회원가입페이지 */
.join1_content{margin-bottom: 50px;}
.join1_top{width: 45%; height: 40px; margin: 50px auto 20px;}
.join1_mid{width: 60%; margin:0 auto; box-sizing: border-box; padding: 0 30px;}
.join1_mid #form1{width: 80%; margin: 0 auto;}
.join_ck{border-top: 2px solid #ffc41d;}
#all{margin-left: 17px; margin-bottom: 10px;}
.accordion {background-color: #eee;color: #444;cursor: pointer;padding: 18px;width: 100%;border: none;text-align: left;outline: none;font-size: 15px;transition: 0.4s;box-sizing: border-box;}
.active, .accordion:hover {background-color: #ccc;}
.terms_btn{float: right;}
.panel {padding: 0 18px; display: none; background-color: white; overflow: hidden;}
#terms{width: 100%; font-size: 0.8em; display: none; box-sizing: border-box;}
.join1_form{width: 80%; margin: 20px auto;}
.join1_tit{border-top:1px solid #ccc; border-bottom:1px solid #ccc; line-height: 50px; text-indent: 5px;}
.join1_form .fieldlabel:first-child{margin-top:30px;}
.fieldlabel{display: -webkit-box; display: -webkit-flex;display: -ms-flexbox;display: flex; margin-bottom: 1rem;}
.join1_form label{display: inline-block; width:100px;margin-top: 10px;}
#userId,#userPw,#userName,#email01{width: 200px; height: 20px;}
.check_btn{width: 100px; height: 36px; background-color: #ccc; margin-left: 5px; border-radius: 2px; cursor: pointer;}
#userId,#userPw,#userName,#email01,.log_btn {border-radius: 0.25rem;padding: 0.5rem;}
#mPhone1{margin-left: 0; margin-right: 5px; border:1px solid #ccc; border-radius: 2px; width: 10%; height: 36px; text-indent: 5px;}
#mPhone2,#mPhone3{height: 36px; border:1px solid #ccc; border-radius: 2px;width: 10%;text-indent: 5px; margin-right: 5px; margin-left: 5px; box-sizing: border-box;}
#userId,#userPw,#userName,#email01{border:1px solid #ccc;width: 20%;}
#email02{height: 34px; border:1px solid #ccc; text-indent: 5px; border-radius: 2px;}
#userPw_txt{display: inline-block; margin-top: 10px; font-size: 0.9em;}
.fieldlabel .symbol{display: inline-block; margin: 10px;}
.join_btn{width: 100%; padding: 5px; text-align: center; background-color: #ffc41d; border-radius: 5px; cursor: pointer; box-sizing: border-box; margin-top: 30px;}
.join_btn.button{margin-top: 3px; font-weight: 700; font-size: 1.1em;}


/* sub header부분(네비게이션,로고) */
.sub_logo_box{position: relative;}
.sub_logo{float: left;}
.sub_logo img{position: absolute; width: 180px; top: 50px; left: 20%;}
.sub_hd{position: relative; width:100%; height: 120px; z-index: 99; background-color: #fff; border-bottom: 3px solid #ffc41d; z-index: 999;}
.sub_top{float: left; margin-top: 2px;}
.sub_top li{float: left; padding-right: 5px;}
.sub_tnb{display: block; width: 100%; height: 25px; font-size: 0.9em; border-bottom: 1px solid #ccc; padding-left: 60%; margin-top: 5px; box-sizing: border-box;}
.sub_tnb li:after{content:"|"; color:#fff; padding-left: 10px; padding-right: 10px;}
.sub_tnb li:last-child::after{content:"";}
.sub_tnb li a{color:#000;}
#sub_gnb{clear: both; float: right;  margin-right: 24%; margin-top: 40px;}
.sub_gnb{font-size: 1.1em; font-family: 'NanumSquare'; font-size: 18px;}
.sub_gnb .sub_menu{list-style:none; display:inline-block; width: 120px; height: 30px; position: relative; padding-left: 20px; box-sizing: border-box;}
.sub_menu a{color:#000; font-weight: 700;}
.sub_sub{opacity: 0; margin-top: 10px;}
.sub_gnb li:hover .sub{opacity:1;}
.sub_sub{position: absolute; height: auto; background-color: #fff; border-radius: 10px; width: 100%; border: 1px solid #ccc;}
.sub_sub li{font-family: 'Noto Sans KR', sans-serif; font-size: 0.8em; font-weight: 700; margin: 5px; text-align: center; height: 20px;}
.sub_s_sub a{color:#000;}
.sub.first{margin-left: -15px;}
.sub.two{margin-left: -20px;}
.sub.three{margin-left: -20px;}
.sub.four{margin-left: -20px;}
.sub .s_sub a:hover{color:#66999c;}

.tog_btn{position: absolute; color:#000; font-size: 2.0em; top: 53px; right: 410px; cursor: pointer;}

/* sub1 인사말페이지 */
.content{display: inline-block; position: relative; width: 100%; margin: 0 auto;}
.content_top{width: 60%; height: 40px; margin: 50px auto 20px;}
.sub1_tit{display: inline; font-weight: 200;}
.sub1_tit img{vertical-align: middle;}
.sub1_txt{display: inline; margin-left: 5px;}
.date_total{float: right;}
.date{display: inline; margin-right: 10px;}
.date_box{display: inline-block; margin-top: 5px;}
.calendar1{font-family: 'Noto Sans KR', sans-serif; width: 100px; height: 32px; border:1px solid #ccc; background-color: #fff; text-indent: 10px; box-sizing: border-box;}
.date_btn1{background-color: #ffc41d; width: 32px; height: 32px; border-radius: 2px;}
.date_btn1 i{font-size: 1.3em;}
.wave{display: inline;}
.calendar2{font-family: 'Noto Sans KR', sans-serif; width: 100px; height: 32px; border:1px solid #ccc; background-color: #fff; text-indent: 10px; box-sizing: border-box;}
.date_btn2{background-color: #ffc41d; width: 32px; height: 32px; border-radius: 2px;}
.date_btn2 i{font-size: 1.3em;}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(./img/arrow.png) no-repeat 95% 50%;}
.select_box{display: inline; margin-right: 10px;}
#select_sub1{width: 100px; height: 32px; border:1px solid #ccc; text-indent: 5px;}

.search{display: inline-block; border:1px solid #ccc; height: 32px; box-sizing: border-box;}
.search_form{width:150px; text-indent: 10px;}
.search_btn{width: 32px; height:31px; background-color: #333; background-image:url("./img/search_btn.png"); background-position:center center; background-repeat:no-repeat; text-indent:-9999px;}

.content_mid{width: 60%; margin:0 auto 50px; border: 1px solid #e0e0e0; padding: 20px 50px 50px; box-sizing: border-box;}
.sit_list{position: relative; width: 100%; border-bottom: 1px solid #ccc; margin-top: 40px; cursor: pointer;}
.sit_list img{display: inline-block; margin-bottom: 20px; margin-left: 40px;}
.sit_list a{color:#000;}
.sit_box{display: inline-block; vertical-align: top; margin-left: 20px;}
.sit_txt,.sit_money,.sit_address,.sit_score{font-size: 1.2em;}
.sit_money{margin-top: 18px;}
.favorite{position: absolute; top: 8px; right: 45px;}
.favorite i{font-size: 1.5em;}
.favorite span{margin-left: 5px; vertical-align: top;}

/* sub5/6-관심돌봄,관심돌보미 */
.favorite.on{color:#f00;}
.favorite.on span{color:#000;}

/* sub7 이용후기 */
.review_thum{position: relative;}
.review_thum li{float: left; width: 320px; text-align: center;}

/* sub8 - 공지사항페이지 */
.notice_top{width: 60%; height: 40px; margin: 50px auto 40px;}
.notice_tit{font-weight: 200; text-align: center;}
.notice_tit img{vertical-align: middle;}
.notice_mid{width: 60%; margin: 0 auto 80px;}
/***** Base Reset Style *****/
hr,legend,caption{font-size:0;height:0px}
        
/** boardSearch **/
.board_search{margin:0 0 15px 0;text-align:right;}
.board_search li{display:inline-block;margin:0 0 0 12px;font-size:1.0em;}
.notice_search{width:120px; height: 29px; color:#808080;border:solid 1px #ccc; text-indent: 10px;}
.board_search li label{margin:0 0 0 3px}
.notice_btn{height: 30px;width:40px;font-size:12px;color:#fff;border:1px solid #333;background:#333;cursor:pointer}
/** 공지사항게시판 **/
.notice_board{width:100%; border:0; font-size: 1.0em;}
.notice_board thead tr th{height:50px;color:#fff;font-weight:500; background:#333;vertical-align:middle}
.notice_board tbody tr td{padding:20px;text-align:center;line-height:18px;border-bottom:solid 1px #eee;vertical-align:middle}
.notice_board .t_tit{text-align:left;}
.notice_board a{color:#333;}
.notice_board tbody .notice td{background:#f6f6f6;}
.notice_board tbody tr:hover td{background:#fafafa;}
.notice_read{float: right; margin-top: 15px;}
.notice_read div{display: inline-block; width: 50px; height: 30px;border-radius: 2px; border:1px solid #333; text-align: center;}
.read_btn span, .modify_btn span, .delete_btn span,.list_btn span{display: inline-block;margin-top: 5px; cursor: pointer;}

.page_navi{width: 30%; margin: 5px auto;}
.page_navi a{display: inline; margin:0 4px;padding:0 5px;font-size:12px;color:#333;line-height:23px; font-size: 14px;}
.num_btn{display: inline-block;}
.num_btn li{float: left; height: 18px; margin-top: 20px;}
.page_navi a:hover,.num_btn li:hover, .num_btn li:active{font-weight: 700;}
.notice_write{width: 100%;}
.notice_write td, .notice_write th{border:1px solid #e0e0e0; border-right: none; border-left: none; border-bottom: none; padding: 20px;}
.notice_write th{text-align: left; width: 20%; border-right:1px solid #e0e0e0;}
.notice_point{display: inline-block; width: 50px; height: 20px; background-color:#ffc41d; border-radius: 30px;}
#write_tit1{width: 200px; height: 30px; border:1px solid #e0e0e0; text-indent: 5px;}
.write_tit{background-color:#f6f6f6;}
.last_td .t_tit{border-bottom: 1px solid #e0e0e0;}
.last_td .write_tit{border-bottom: 1px solid #e0e0e0;}
#notice_memo{width: 100%; text-indent: 5px; border:1px solid #ccc;}
.t_tit textarea{height: 200px;}
#write_link{width: 300px; height: 30px; border: 1px solid #ccc;}

/* sub8-2 공지사항 페이지 */
.notice_view {table-layout: fixed; width: 100%; border-top: 2px solid #666; border-bottom: 2px solid #666;}
.notice_view td {height: 80px; color: #333; line-height: 20px;}
.notice_bold{display: inline-block; width: 50px; height: 20px; background-color:#ffc41d; border-radius: 30px; font-weight: 700; text-align: center; margin-left: 60px;}
.notice_view .notice_tit1 {font-size: 1.1em; font-weight: 700;}
.notice_view .notice_data {text-align: right; line-height: 20px; padding-right: 65px;}
/* 게시글 리스트 내용 */
.notice_textus {border-top: 1px dotted #666; height: 500px;}
.notice_textus .notice_txt1{width: 90%; font-size: 1.0em; line-height: 20px; margin: 50px auto; text-align: justify;}

.notice_list {text-align: center; padding: 50px 0 0;}
.notice_list a{width: 200px; height: 50px; display: block; margin: 0 auto; background-color:#ffc41d; color:#000; border-radius: 5px;line-height: 50px; font-size: 1.2em;}


@media screen and (min-width:1201px) and (max-width:1919px){
/* 저해상도 데스크탑 */
/* 메인 */
.wrap{height: 100%;}
.page{width: 100%;}
#page1{background-repeat: no-repeat;}

.logo_box{margin-left: 20px;}

.find_text{margin-top: 0; margin-left: 0; }
.more_btn{margin-left: 0;}
.find_left{margin-top: 320px; margin-left: 250px; }
.find_right{margin-right: 130px; margin-top: 180px;}
.find_right img{width: 80%;}
.footer{width: 100%;}
.ft_logo{margin-left: 45px;}
/* 서브1 */
.sub_logobox{margin-left: 20px;}
.sub_gnb .sub_menu{width: 80px;}
.sub_logo{float: left;}
.sub_logo img{top: 40px; margin-left: 20px;}
.sub_hd{position: fixed; width: 100%; height: 100px; z-index: 99; background-color: #fff; border-bottom: 1px solid #eee;}
#sub_gnb{float: right;  margin-right: 5%; margin-top: 50px;}
.sub_gnb{font-size: 1.1em;}
.sub_gnb .sub_menu{list-style:none; display:inline-block;  width: 100px; height: 30px; vertical-align: top; position: relative;}
.sub_menu a{color:#000; font-weight: 700;}
.sub{position: absolute; opacity: 0;}
.sub_gnb li:hover .sub{opacity:1;}
.sub_banner{width: 100%; height: auto;}
.sub_banner img{width: 100%;}
.location{cursor: default;}
.lt_tit{clear: both;margin-top: 20px; line-height: 30px; text-align: right; margin-right: 26%;}
.lt_line{width: 1200px; margin: 0 auto; border-bottom: 1px solid #eee;}
.sub_content {position: relative; width: 90%; margin: 0 auto; margin-top: 60px; text-align: center; cursor: default;}
.sub1_tit{font-family: 'NanumSquare';}
.sub1_tit img{margin-left: 5px;}
.sub1_txt{font-family: 'NanumSquare'; line-height: 30px; font-size: 18px; font-weight: 400;}
.sub1_txt1{width: 70%; margin: 0 auto; text-align: left; text-indent: 10px; line-height: 23px; font-size: 1.1em; margin-bottom: 30px;  text-align: justify; }
.sub1_line{width: 70%; height:1px; background-color: #ccc; margin: 0 auto;}
.sub1_tit1{margin-top: 40px; margin-bottom: 40px;}
.sub_box{margin-bottom: 80px;}
.sub1_box1{display: inline-block; width: 220px; height: 220px; background-color:#88bbb9; color:#fff; font-size: 1.2em; margin-left: 50px; margin: 0 20px;}
.sub1_box1 i{margin-top: 50px; font-size: 3.0em; line-height: 80px;}
/* 서브2 */
.sub_content{margin-bottom: 20px;}
.sub2_txt1{padding-bottom: 50px;}
/* 서브3 */
.sub3_box{margin-top: 40px;}
/* 서브4 */
.field label{width: 200px;}
.field1 label{text-indent: 29px;}
.field1 .data_f{width: 50%;}
.data_f1{display: inline-block; height: 32px; border: 1px solid #ccc; width: 100%; margin-top: 14px; text-indent: 1em; border-radius: 60px;}
.answer{display: none;}
.sm_answer{display: block; width: 80%; margin-left: 22%;}
.sm_answer label{display: inline-block; width: 39%; height: 30px; background-color:#66999c; border-radius: 5px; padding-top: 6px; box-sizing: border-box; color:#fff; font-weight: 700; margin-left: 5px; text-align: center; font-weight: normal; margin-bottom: 10px;}
.sm_answer label:first-child{margin-left: 0;}
.qna_box{display: inline-block; height: 32px; border: 1px solid #ccc; width: 81%; height: 150px; margin-top: 14px; border-radius: 5px;}
}
@media screen and (min-width:1024px) and (max-width:1200px){
/* 고해상도 태블릿의 경우 */
/* 메인 */
.wrap{height: 100%;}
.page{width: 100%;}
#page1{background-repeat: no-repeat; background-position: center center; background-image: url("./img/m_vs.png"); background-size: cover;}
.logo_box{margin-left: 0;}
#gnb{display: none;}
.toggle{display: inline-block;}
.tog_btn{position: absolute; color:#fff; font-size: 3.2em; top: 30px; right: 40px;}
#tog_gnb{position: fixed; right: -110%; top: 0; transition: 0.6s; z-index: 999; background-color:rgba(255,255,255,0.9); width: 50.7%; height: 100vh;}
#tog_gnb.on{right: 0; top: 0;}
.tog_gnb{position: relative; text-align: center; font-size: 1.8em; z-index: 1001;}
.tog_close{position: absolute; font-size: 3.5em; right: 42px; top: 27px;}
.tog_gnb .menu:first-of-type{margin-top: 220px;}
.menu{margin-top: 40px;}
.tog_gnb a{color:#333; font-size: 1.2em; line-height: 35px;}
.m_sub{font-size: 0.8em;}
.hide_sub{display: none; height: auto; margin-top: 10px; z-index: 1001;}
.gnb_img{position: absolute; width: 100%; bottom: 0; left: 0;}
.find_text{margin-top: 0; margin-left: -20px; font-size: 2.0em;}
.more_btn{margin-left: 0;}
.more_btn1{margin-left: 0; margin: 30px auto;}
.find_left{float: none; padding-top:180px;}
.find_right{float: none; margin-top: 50px; margin-right: 0;}
.find_right img{width: 35%; margin-left: 34%;}
.web{padding-top: 320px;}
.com_img{width: 90%;}
.footer{width: 100%;}
.ft_logo{display: none;}
.ft_content{margin-left: 0;}
.ft_line{width: 90%;}
.ft_copyright{margin-left: 0;}

/* 서브토글메뉴 */
.sub_toggle{display: inline-block;}
.sub_tog_btn{position: absolute; color:#333; font-size: 3.2em; top: 30px; right: 40px;}
#sub_tog_gnb{position: fixed; right: -110%; top: 0; transition: 0.6s; z-index: 999; background-color:rgba(255,255,255,0.9); width: 50.7%; height: 100vh;}
#sub_tog_gnb.on{right: 0; top: 0;}
.sub_tog_gnb{position: relative; text-align: center; font-size: 1.8em; z-index: 1001;}
.sub_tog_close{position: absolute; font-size: 3.5em; right: 42px; top: 27px;}
.sub_tog_gnb .sub_menu:first-of-type{margin-top: 220px;}
.sub_menu{margin-top: 40px;}
.sub_tog_gnb a{color:#333; font-size: 1.2em; line-height: 35px;}
.sub_m_sub{font-size: 0.8em;}
.sub_hide_sub{display: none; height: auto; margin-top: 10px; z-index: 1001;}
.sub_gnb_img{position: absolute; width: 100%; bottom: 0; left: 0;}

/* 서브1 - 인사말 */
.sub_page{width: 100%; height: 100px;background-color: #fff;}
.sub_logobox{margin-left: 20px;}
.sub_gnb .sub_menu{width: 80px;}
.sub_logo{float: left;}
.sub_logo img{position: absolute; width: 80%; top: 40px; margin-left: 0px;}
.sub_hd{position: fixed; height: 100px; z-index: 99; background-color: #fff; border-bottom: 1px solid #eee;}
#sub_gnb{display: none;}
.sub_banner{width: 100%; height: auto;}
.sub_banner img{width: 100%;}
.location{cursor: default;}
.lt_tit{clear: both;margin-top: 20px; margin-right: 50px; line-height: 30px; text-align: right;}
.lt_line{width: 100%; margin: 0 auto; border-bottom: 1px solid #eee;}
.sub_content {position: relative; width: 90%; margin: 0 auto; margin-top: 60px; text-align: center; cursor: default;}
.sub1_tit{font-family: 'NanumSquare'; line-height: 60px; margin-bottom: 20px;}
.sub1_txt{font-family: 'NanumSquare'; line-height: 30px; font-size: 18px; font-weight: 400;}
.sub1_img{margin: 40px;}
.sub1_txt1{width: 70%; margin: 0 auto; text-align: left; text-indent: 10px; line-height: 23px; font-size: 1.1em; margin-bottom: 30px;  text-align: justify; }
.sub1_line{width: 70%; height:1px; background-color: #ccc; margin: 0 auto;}
.sub1_tit1{margin-top: 40px; margin-bottom: 40px;}
.sub_box{margin-bottom: 60px;}
.sub1_box1{display: inline-block; width: 200px; height: 200px; background-color:#88bbb9; color:#fff; font-size: 1.2em; margin:5px 5px;}
.sub1_box1 i{margin-top: 50px; font-size: 3.0em; line-height: 80px;}
/* 서브2 */
.sub_content{margin-bottom: 20px;}
.sub2_txt1{padding-bottom: 50px;}
.sub2_img{margin: 0;}
/* 서브3 */
.sub3_content{width: 94%;}
.sub3_content1{margin-top: 20px;}
.sub3_left{float: none; width: 100%;}
.sub3_right{float: none; width: 100%;}
.sub3_txt{margin: 40px auto;}
.sub3_txt1 p{font-size: 0.9em;}
.sub3_right{height: auto;}
.sub3_right.one{margin-bottom: 20px;}
.sub3_right.one img{width: 50%; padding-top: 20px;}
.sub3_right h1{margin-top: 10px; padding: 15px 0; font-size: 1.8em; line-height: 30px;}
.sub3_right.two{padding-bottom: 20px;}
.sub3_right.three img{width: 50%; margin-top: 20px;}
.sub3_right.four{padding-bottom: 20px;}
.sub3_right.four h1{margin-top: 0; font-size: 1.8em;}
.sub3_left{height: auto; padding-bottom: 20px;}
.sub3_left h1{margin-top: 0; font-size: 1.8em;}
.sub3_left.three h1{margin-top: 0; font-size: 1.8em;}
.sub3_left.two img{width: 40%; margin-top: 20px;}
.sub3_left.four{padding-bottom: 0; font-size: 1.8em;}
.sub3_left.four img{width: 50%; margin-top: 20px;}
/* sub4 문의사항 */
.field1 label{text-indent: 27px;}
.field2{float: left; width: 30%; height: 100px; margin-left: 20%;}
.data_f1{display: inline-block; height: 32px; border: 1px solid #ccc; width: 105%; margin-top: 14px; text-indent: 1em; border-radius: 60px;}
.answer{display: none;}
.sm_answer{display: block; width: 80%; margin-left: 20%;}
.sm_answer label{display: inline-block; width: 41%; height: 30px; background-color:#66999c; border-radius: 5px; padding-top: 6px; box-sizing: border-box; color:#fff; font-weight: 700; margin-left: 5px; text-align: center; font-weight: normal; margin-bottom: 10px;}
.sm_answer label:first-child{margin-left: 0;}
.qna{margin-left: 20%;}
.qna_box{display: inline-block; height: 32px; border: 1px solid #ccc; width: 84%; height: 150px; margin-top: 14px; border-radius: 5px;}
/* sub5 오시는길 */
.sub_content5 h3{text-align: center;}
.sub_content5 .map{width:60%; height:500px;}
.sub_content5 .tel a{color:#000;}
}
@media screen and (min-width:768px) and (max-width:1023px){
/* 태블릿의 경우 */
/* 메인 */
.wrap{height: 100%;}
.page{width: 100%;}
#page1{background-repeat: no-repeat; background-position: center center; background-image: url("./img/m_vs.png"); background-size: cover;}
.logo_box{margin-left: 0;}
#gnb{display: none;}
.toggle{display: inline-block;}
.tog_btn{position: absolute; color:#fff; font-size: 3.2em; top: 30px; right: 40px;}
#tog_gnb{position: fixed; right: -110%; top: 0; transition: 0.6s; z-index: 999; background-color:rgba(255,255,255,0.9); width: 50.7%; height: 100vh;}
#tog_gnb.on{right: 0; top: 0;}
.tog_gnb{position: relative; text-align: center; font-size: 1.2em; z-index: 1001;}
.tog_close{position: absolute; font-size: 3.5em; right: 42px; top: 27px;}
.tog_gnb .menu:first-of-type{margin-top: 150px;}
.menu{margin-top: 20px;}
.tog_gnb a{color:#333; font-size: 1.2em; line-height: 25px;}
.m_sub{font-size: 0.8em;}
.hide_sub{display: none; height: auto; margin-top: 10px; z-index: 1001;}
.gnb_img{position: absolute; width: 100%; bottom: 0; left: 0;}
.find_text{margin-top: 0; margin-left: -20px; font-size: 2.0em;}
.more_btn{margin-left: 0;}
.more_btn1{margin-left: 0; margin: 30px auto;}
.find_left{float: none; padding-top: 130px;}
.find_right{float: none; margin-top: 50px; margin-right: 0;}
.find_right img{width: 35%; margin-left: 34%;}
.web{padding-top: 260px;}
.com_img{width: 90%;}
.footer{width: 100%;}
.ft_logo{display: none;}
.ft_content{margin-left: 0;}
.ft_line{width: 90%;}
.ft_copyright{margin-left: 0;}

/* 서브토글메뉴 */
.sub_toggle{display: inline-block;}
.sub_tog_btn{position: absolute; color:#333; font-size: 3.2em; top: 30px; right: 40px;}
#sub_tog_gnb{position: fixed; right: -110%; top: 0; transition: 0.6s; z-index: 999; background-color:rgba(255,255,255,0.9); width: 50.7%; height: 100vh;}
#sub_tog_gnb.on{right: 0; top: 0;}
.sub_tog_gnb{position: relative; text-align: center; font-size: 1.2em; z-index: 1001;}
.sub_tog_close{position: absolute; font-size: 3.5em; right: 42px; top: 27px;}
.sub_tog_gnb .sub_menu:first-of-type{margin-top: 150px;}
.sub_menu{margin-top: 20px;}
.sub_tog_gnb a{color:#333; font-size: 1.2em; line-height: 25px;}
.sub_m_sub{font-size: 0.8em;}
.sub_hide_sub{display: none; height: auto; margin-top: 10px; z-index: 1001;}
.sub_gnb_img{position: absolute; width: 100%; bottom: 0; left: 0;}

/* 서브1 - 인사말 */
.sub_page{width: 100%; height: 100px;background-color: #fff;}
.sub_logobox{margin-left: 20px;}
.sub_gnb .sub_menu{width: 80px;}
.sub_logo{float: left;}
.sub_logo img{position: absolute; width: 80%; top: 40px; margin-left: 0px;}
.sub_hd{position: fixed; height: 100px; z-index: 99; background-color: #fff; border-bottom: 1px solid #eee;}
#sub_gnb{display: none;}
.sub_banner{width: 100%; height: auto;}
.sub_banner img{width: 100%;}
.location{cursor: default;}
.lt_tit{clear: both;margin-top: 20px; margin-right: 50px; line-height: 30px; text-align: right;}
.lt_line{width: 100%; margin: 0 auto; border-bottom: 1px solid #eee;}
.sub_content {position: relative; width: 90%; margin: 0 auto; margin-top: 60px; text-align: center; cursor: default;}
.sub1_tit{font-family: 'NanumSquare'; line-height: 60px; margin-bottom: 20px;}
.sub1_txt{font-family: 'NanumSquare'; line-height: 30px; font-size: 18px; font-weight: 400;}
.sub1_img{margin: 40px;}
.sub1_txt1{width: 70%; margin: 0 auto; text-align: left; text-indent: 10px; line-height: 23px; font-size: 1.1em; margin-bottom: 30px;  text-align: justify; }
.sub1_line{width: 70%; height:1px; background-color: #ccc; margin: 0 auto;}
.sub1_tit1{margin-top: 40px; margin-bottom: 40px;}
.sub_box{margin-bottom: 60px;}
.sub1_box1{display: inline-block; width: 220px; height: 220px; background-color:#88bbb9; color:#fff; font-size: 1.2em; margin:5px 5px;}
.sub1_box1 i{margin-top: 50px; font-size: 3.0em; line-height: 80px;}
/* 서브2 */
.sub_content{margin-bottom: 20px;}
.sub2_txt1{padding-bottom: 50px;}
.sub2_img{margin: 0;}
/* 서브3 */
.sub3_content{width: 94%;}
.sub3_content1{margin-top: 20px;}
.sub3_left{float: none; width: 100%;}
.sub3_right{float: none; width: 100%;}
.sub3_txt{margin: 40px auto;}
.sub3_txt1 p{font-size: 0.9em;}
.sub3_right{height: auto;}
.sub3_right.one{margin-bottom: 20px;}
.sub3_right.one img{width: 50%; padding-top: 20px;}
.sub3_right h1{margin-top: 10px; padding: 15px 0; font-size: 1.8em; line-height: 30px;}
.sub3_right.two{padding-bottom: 20px;}
.sub3_right.three img{width: 50%; margin-top: 20px;}
.sub3_right.four{padding-bottom: 20px;}
.sub3_right.four h1{margin-top: 0; font-size: 1.8em;}
.sub3_left{height: auto; padding-bottom: 20px;}
.sub3_left h1{margin-top: 0; font-size: 1.8em;}
.sub3_left.three h1{margin-top: 0; font-size: 1.8em;}
.sub3_left.two img{width: 40%; margin-top: 20px;}
.sub3_left.four{padding-bottom: 0; font-size: 1.8em;}
.sub3_left.four img{width: 50%; margin-top: 20px;}
/* sub4 문의사항 */
.sub4_content{clear: both; width: 90%; margin: 80px auto;}
.field1 label{text-indent: 23px;}
.field1 .data_f{display: inline-block; height: 32px; border: 1px solid #ccc; width: 47%; margin-top: 14px; text-indent: 1em; border-radius: 60px;}
.field2{float: left; width: 30%; height: 100px; margin-left: 20%;}
.data_f1{display: inline-block; height: 32px; border: 1px solid #ccc; width: 105%; margin-top: 14px; text-indent: 1em; border-radius: 60px;}
.answer{display: none;}
.sm_answer{display: block; width: 80%; margin-left: 20%;}
.sm_answer label{display: inline-block; width: 41%; height: 30px; background-color:#66999c; border-radius: 5px; padding-top: 6px; box-sizing: border-box; color:#fff; font-weight: 700; margin-left: 5px; text-align: center; font-weight: normal; margin-bottom: 10px;}
.sm_answer label:first-child{margin-left: 0;}
.qna{margin-left: 20%;}
.qna_box{display: inline-block; height: 32px; border: 1px solid #ccc; width: 84%; height: 150px; margin-top: 14px; border-radius: 5px;}
.submit_btn{margin-left: 20%;}
/* sub5 오시는길 */
.sub_content5 h3{text-align: center;}
.sub_content5 .map{width:60%; height:500px;}
}
@media screen and (max-width:767px) and (min-width:321px) {
/* 모바일의 경우 */
/*  메인 */
.wrap{height: 100%;}
.page{width: 100%;}
#page1{background-repeat: no-repeat; background-position: center center; background-image: url("./img/mb_vs.png");}
.hd{height: 80px;}
.logo_box{margin-left: 0; width: 150px; height: 70px;}
.logo img{position: absolute; width: 80%; top: 25px; margin-left: 15px;}
#gnb{display: none;}
.toggle{display: inline-block;}
.tog_btn{position: absolute; color:#fff; font-size: 2.0em; top: 20px; right: 20px;}
#tog_gnb{position: fixed; right: -110%; top: 0; transition: 0.6s; z-index: 999; background-color:rgba(255,255,255,0.9); width: 50.7%; height: 100vh;}
#tog_gnb.on{right: 0; top: 0;}
.tog_gnb{position: relative; text-align: center; font-size: 1.2em; z-index: 1001;}
.tog_close{position: absolute; font-size: 2.2em; right: 22px; top: 18px;}
.tog_gnb .menu:first-of-type{margin-top: 120px;}
.menu{margin-top: 15px;}
.tog_gnb a{color:#333; font-size: 0.9em; }
.m_sub{font-size: 0.8em;}
.hide_sub{display: none; height: auto; margin-top: 10px; z-index: 1001;}
.gnb_img{position: absolute; width: 100%; bottom: 0; left: 0;}
.find_text{margin-top: 0; margin-left: -20px; font-size: 1.5em;}
.more_btn{margin-left: 0;}
.more_btn1{margin-left: 0; margin: 30px auto;}
.find_left{float: none; padding-top: 90px;}
.find_right{float: none; margin-top: 50px; margin-right: 0;}
.find_right img{width: 35%; margin-left: 34%;}
.web_title{font-size: 1.4em;}
.web_txt{font-size: 1.0em;}
.web_btn a{margin-left: 10px; width: 80px; height: 40px; font-size: 1.0em;}
.com_img{width: 90%;}
.foot{height: auto; padding-bottom: 20px;}
.footer{display: flex; margin: 0 auto; width: 90%; height: auto;}
.ft_logo{display: none;}
.ft_content{margin-left: 0; margin-top: 0;}
.ft_content h4{text-indent: 20px; color:#555; padding-top: 20px; box-sizing: border-box; margin-bottom: 5px;}
.add_left{float: left; text-align: center;}
.add_left i{display: none;}
.add_right h5{display: none;}
.add_right h6{font-size: 1.0em; color:#555; text-indent: 20px; line-height:25px;}
.address{color:#fff;margin-left: 20px; margin-top: 5px; font-size: 0.85em; color:#ccc;}
.ft_copyright{color:#555; margin-left: 0; margin-top: 20px;}
.ft_copyright h4{text-indent: 20px; margin-bottom: 5px;}
.ft_copyright span{display: none;}
.ft_line{width: 100%; margin: 0 auto;}
.copyright1{color:#ccc; margin-left: 25px; margin-top: 15px; font-size: 0.85em;}

/* 서브 토글메뉴 */
.sub_toggle{display: inline-block;}
.sub_tog_btn{position: absolute; color:#333; font-size: 2.0em; top: 20px; right: 20px;}
#sub_tog_gnb{position: fixed; right: -110%; top: 0; transition: 0.6s; z-index: 999; background-color:rgba(255,255,255,0.9); width: 50.7%; height: 100vh;}
#sub_tog_gnb.on{right: 0; top: 0;}
.sub_tog_gnb{position: relative; text-align: center; font-size: 1.2em; z-index: 1001;}
.sub_tog_close{position: absolute; font-size: 2.2em; right: 22px; top: 18px;}
.sub_tog_gnb .sub_menu:first-of-type{margin-top: 120px;}
.sub_menu{margin-top: 15px;}
.sub_tog_gnb a{color:#333; font-size: 0.9em; }
.sub_m_sub{font-size: 0.8em;}
.sub_hide_sub{display: none; height: auto; margin-top: 10px; z-index: 1001;}
.sub_gnb_img{position: absolute; width: 100%; bottom: 0; left: 0;}

/* 서브1 - 인사말 */
.sub_page{width: 100%; height: 70px; background-color: #fff;}
.sub_logobox{margin-left: 20px;}
.sub_logobox a img{position: absolute; width: 60%; top: 25px;}
.sub_gnb .sub_menu{width: 80px;}
.sub_logo{float: left;}
.sub_logo img{position: absolute; width: 80%; top: 40px; margin-left: 0px;}
.sub_hd{position: fixed; height: 70px; z-index: 99; background-color: #fff; border-bottom: 1px solid #eee;}
#sub_gnb{display: none;}
.sub_banner{width: 100%; height: auto;}
.sub_banner img{width: 100%;}
.location{cursor: default;}
.lt_tit{clear: both;margin-top: 10px; margin-right: 20px; line-height: 30px; text-align: right; font-size: 0.8em;}
.lt_line{width: 100%; margin: 0 auto; border-bottom: 1px solid #eee;}
.sub_content {position: relative; width: 90%; margin: 0 auto; margin-top: 20px; text-align: center; cursor: default;}
.sub1_tit{font-family: 'NanumSquare'; line-height: 30px; margin-bottom: 10px; margin-top: 20px; margin-bottom: 20px; font-size: 1.4em;}
.sub1_txt{font-family: 'NanumSquare'; line-height: 30px; font-size: 18px; font-weight: 400; font-size: 1.1em;}
.sub1_img{margin: 40px;}
.sub1_img img{width: 80%;}
.sub1_tit1{margin-top: 20px; margin-bottom: 20px;}
.sub1_txt1{width: 90%; margin: 0 auto; text-align: left; text-indent: 10px; line-height: 23px; font-size: 1.1em; margin-bottom: 30px;  text-align: justify; }
.sub1_line{width: 90%; height:1px; background-color: #ccc; margin: 0 auto;}
.sub_box{margin-bottom: 40px;}
.sub1_box1{display: inline-block; width: 150px; height: 150px; background-color:#88bbb9; color:#fff; font-size: 1.2em; margin: 2px auto;}
.sub1_box1 i{margin-top: 20px; font-size: 3.0em; line-height: 80px;}
/* 서브2 */
.sub2_txt1{padding-bottom: 50px; margin: 20px; text-align: center;}
.sub2_img{margin: 0;}
.sub2_img img{width: 80%;}
/* 서브3 */
.sub3_content{display: none;}
.sub3_content1{text-align: center;}
.hide_sub3{display: block;}
.sub3_tit{font-family: 'NanumSquare'; line-height: 30px; margin-top: 20px; margin-bottom: 20px; font-size: 1.4em; text-align: center;}
.sub3_text1{width: 96%; height: 250px; box-sizing: border-box; text-align: center; margin: 0 auto;}
.sub3_text1.left{width: 50%; float: left;}
.sub3_text1 h1{font-size: 1.7em;}
.sub3_text1 h2{font-size: 1.3em;}
.sub3_text1 p{font-size: 0.85em;}
.sub3_text1.left h2{margin: 10px;}
.sub3_text1.left p{line-height: 22px;}
.sub3_text1.right{width: 50%; float: right; height: 200px;}
.sub3_text1.right h2{margin: 10px;}
.sub3_text1.right p{line-height: 22px; margin-top: 30px;}
.sub3_text2{width: 96%; height: 250px; box-sizing: border-box; margin: 0 auto; text-align: center;}
.sub3_text2 h1{font-size: 1.7em;}
.sub3_text2 h2{font-size: 1.3em;}
.sub3_text2 p{font-size: 0.85em;}
.sub3_text2.left{width: 50%; float: left;}
.sub3_text2.left h2{margin: 10px;}
.sub3_text2.left p{line-height: 22px;}
.sub3_text2.right{width: 50%; float: right; height: 200px;}
.sub3_text2.right h2{margin: 10px;}
.sub3_text2.right p{line-height: 22px; margin-top: 20px;}
.sub3_left{float: none; width: 100%;}
.sub3_right{float: none; width: 100%;}
.sub3_txt{margin: 40px auto;}
.sub3_txt1 p{font-size: 0.85em;}
.sub3_right{height: auto;}
.sub3_right.one{margin-bottom: 20px;}
.sub3_right.one img{width: 50%; padding-top: 20px;}
.sub3_right h1{margin-top: 10px; padding: 20px 0; font-size: 1.3em; line-height: 25px;}
.sub3_right.two{padding-bottom: 20px;}
.sub3_right.three img{width: 50%; margin-top: 20px;}
.sub3_right.four{padding-bottom: 20px;}
.sub3_right.four h1{margin-top: 0; font-size: 1.3em;}
.sub3_left{height: auto; padding-bottom: 20px;}
.sub3_left h1{margin-top: 0; font-size: 1.3em;}
.sub3_left p{font-size: 1.0em; line-height: 22px;}
.sub3_left.three h1{margin-top: 0; font-size: 1.3em;}
.sub3_left.two img{width: 40%; margin-top: 20px;}
.sub3_left.four{padding-bottom: 0;}
.sub3_left.four img{width: 50%; margin-top: 20px;}
/* sub4 */
.sub4_content{clear: both; width: 85%; margin: 30px auto; text-align-last: left;}
.field1{margin-bottom: 0; height: auto; margin-bottom: 20px;}
.field1 label{float: left; text-indent: 2px;}
.field1 .data_f{display: inline-block; height: 32px; border: 1px solid #ccc; width: 100%; margin-top: 14px; text-indent: 1em; border-radius: 60px;}
.field2{width: 100%; height: 100px; margin-left: 0;}
.field2 label{text-indent: 2px;}
.data_f1{display: inline-block; height: 32px; border: 1px solid #ccc; width: 100%; margin-top: 14px; text-indent: 1em; border-radius: 60px;}
.field3{width: 100%; height: 100px; margin: 0 auto;}

.field3 label{text-indent: 2px;}
.answer{display: none;}
.sm_answer{display: none;}
.mo_answer{clear: both; display: block; width: 100%; height: auto;}
.mo_answer label{display:block; width: 100%; height: 30px; background-color:#66999c; border-radius: 5px; padding-top: 6px; box-sizing: border-box; color:#fff; font-weight: 500; margin: 5px auto; padding-left: 20px;}
.qna{margin-left:0; margin-top: 20px;}
.qna_box{display: inline-block; height: 32px; border: 1px solid #ccc; width: 100%; height: 150px; margin-top: 14px; border-radius: 5px;}
.submit_btn{margin-left: 0;}
.submit_btn input{width: 100%; padding-left: 42%;}

/* sub5 오시는길 */
.sub_content5 h3{text-align: center;}
.sub_content5 .map{width:60%; height:500px;}
.sub_content5 p{font-family: 'Noto Sans KR', sans-serif; font-size: 0.7em; line-height: 30px;}

/* sub5 오시는길 */
.sub_content5 h3{text-align: center;}
.sub_content5 .map{width: 70%; height: auto;}
.sub_content5 p{margin-bottom: 40px;}
}
@media all and (max-width:320px){
/* 낮은 해상도 모바일 */
/* 메인 */
.wrap{height: 100%;}
.page{width: 100%;}
#page1{background-repeat: no-repeat; background-position: center center; background-image: url("./img/mb_vs.png");}
.hd{height: 80px;}
.logo_box{margin-left: 0; width: 150px; height: 70px;}
.logo img{position: absolute; width: 80%; top: 25px; margin-left: 15px;}
#gnb{display: none;}
.toggle{display: inline-block;}
.tog_btn{position: absolute; color:#fff; font-size: 2.0em; top: 20px; right: 20px;}
#tog_gnb{position: fixed; right: -110%; top: 0; transition: 0.6s; z-index: 999; background-color:rgba(255,255,255,0.9); width: 50.7%; height: 100vh;}
#tog_gnb.on{right: 0; top: 0;}
.tog_gnb{position: relative; text-align: center; font-size: 1.2em; z-index: 1001;}
.tog_close{position: absolute; font-size: 2.2em; right: 30px; top: 20px;}
.tog_gnb .menu:first-of-type{margin-top: 120px;}
.menu{margin-top: 10px;}
.tog_gnb a{color:#333; font-size: 0.9em; }
.m_sub{font-size: 0.8em;}
.hide_sub{display: none; height: auto; margin-top: 10px; z-index: 1001;}
.gnb_img{position: absolute; width: 100%; bottom: 0; left: 0;}
.find_text{margin-top: 0; margin-left: 0px; font-size: 1.3em;}
.more_btn{margin-left: 0;}
.more_btn1{margin-left: 0; margin: 30px auto;}
.find_left{float: none; padding-top: 50px;}
#content1 p{font-size: 0.85em;}
.find_right{float: none; margin-top: 50px; margin-right: 0;}
.find_right img{width: 35%; margin-left: 34%;}
.web{padding-top: 90px;}
.web_title{font-size: 1.4em;}
.web_txt{font-size: 1.0em;}
.web_btn a{margin-left: 10px; width: 80px; height: 40px; font-size: 1.0em;}
.com_img{width: 90%;}
.foot{height: auto; padding-bottom: 20px;}
.footer{display: flex; margin: 0 auto; width: 90%; height: auto;}
.ft_logo{display: none;}
.ft_content{margin-left: 0; margin-top: 0;}
.ft_content h4{text-indent: 10px; color:#555; padding-top: 20px; box-sizing: border-box; margin-bottom: 5px;}
.add_left{float: left; text-align: center;}
.add_left i{display: none;}
.add_right h5{display: none;}
.add_right h6{font-size: 1.0em; color:#555; text-indent: 10px; line-height: 30px;}
.address{color:#ccc;margin-left: 10px; font-size: 0.8em;}
.ft_copyright{color:#555; margin-left: 0; margin-top: 20px;}
.ft_copyright h4{text-indent: 0px; margin-bottom: 5px;}
.ft_copyright span{display: none;}
.ft_line{width: 100%; margin: 0 auto;}
.copyright1{color:#ccc; margin-left: 10px; margin-top: 15px; font-size: 0.8em;}

/* 서브 토글메뉴 */
.sub_toggle{display: inline-block;}
.sub_tog_btn{position: absolute; color:#333; font-size: 2.0em; top: 20px; right: 20px;}
#sub_tog_gnb{position: fixed; right: -110%; top: 0; transition: 0.6s; z-index: 999; background-color:rgba(255,255,255,0.9); width: 50.7%; height: 100vh;}
#sub_tog_gnb.on{right: 0; top: 0;}
.sub_tog_gnb{position: relative; text-align: center; font-size: 1.2em; z-index: 1001;}
.sub_tog_close{position: absolute; font-size: 2.2em; right: 20px; top: 20px;}
.sub_tog_gnb .sub_menu:first-of-type{margin-top: 120px;}
.sub_menu{margin-top: 10px;}
.sub_tog_gnb a{color:#333; font-size: 0.9em; }
.sub_m_sub{font-size: 0.8em;}
.sub_hide_sub{display: none; height: auto; margin-top: 10px; z-index: 1001;}
.sub_gnb_img{position: absolute; width: 100%; bottom: 0; left: 0;}

/* 서브1 - 인사말 */
.sub_page{width: 100%; height: 70px; background-color: #fff;}
.sub_logobox{margin-left: 20px;}
.sub_logobox a img{position: absolute; width: 60%; top: 25px;}
.sub_gnb .sub_menu{width: 80px;}
.sub_logo{float: left;}
.sub_logo img{position: absolute; width: 80%; top: 40px; margin-left: 0px;}
.sub_hd{position: fixed; height: 70px; z-index: 99; background-color: #fff; border-bottom: 1px solid #eee;}
#sub_gnb{display: none;}
.sub_banner{width: 100%; height: auto;}
.sub_banner img{width: 100%;}
.location{cursor: default;}
.lt_tit{clear: both;margin-top: 10px; margin-right: 20px; line-height: 30px; text-align: right; font-size: 0.8em;}
.lt_line{width: 100%; margin: 0 auto; border-bottom: 1px solid #eee;}
.sub_content {position: relative; width: 90%; margin: 0 auto; margin-top: 20px; text-align: center; cursor: default;}
.sub1_tit{font-family: 'NanumSquare'; line-height: 30px; margin-bottom: 10px; margin-top: 20px; margin-bottom: 20px; font-size: 1.4em;}
.sub1_txt{font-family: 'NanumSquare'; line-height: 30px; font-size: 18px; font-weight: 400; font-size: 1.1em;}
.sub1_img{margin: 40px;}
.sub1_img img{width: 80%;}
.sub1_txt1{width: 90%; margin: 0 auto; text-align: left; text-indent: 10px; line-height: 23px; font-size: 1.1em; margin-bottom: 30px;  text-align: justify; }
.sub1_line{width: 90%; height:1px; background-color: #ccc; margin: 0 auto;}
.sub_box{margin-bottom: 20px;}
.sub1_box1{display: inline-block; width: 110px; height: 110px; background-color:#88bbb9; color:#fff; font-size: 1.0em; margin: 2px auto;}
.sub1_box1 i{margin-top: 20px; font-size: 2.2em; line-height: 50px;}
/* 서브2 */
.sub2_txt1{padding-bottom: 50px; margin: 20px; text-align: center;}
.sub2_img{margin: 0;}
.sub2_img img{width: 80%;}
/* 서브3 */
.sub3_content{display: none;}
.hide_sub3{display: block;}
.sub3_content1{text-align: center;}
.sub3_tit{font-family: 'NanumSquare'; line-height: 30px; margin-top: 20px; margin-bottom: 20px; font-size: 1.4em; text-align: center;}
.sub3_text1{width: 96%; height: 210px; box-sizing: border-box; margin: 0 auto; text-align: center;}
.sub3_text1.left{width: 50%; float: left;}
.sub3_text1 h1{font-size: 1.5em;}
.sub3_text1.left h2{margin: 10px; font-size: 1.2em;}
.sub3_text1.left p{line-height: 20px; font-size: 0.75em;}
.sub3_text1.right{width: 50%; float: right; height: 200px;}
.sub3_text1.right h2{margin: 10px; font-size: 1.2em;}
.sub3_text1.right p{line-height: 22px; margin-top: 20px; font-size: 0.75em;}
.sub3_text2{width: 96%; height: 210px; box-sizing: border-box; margin: 0 auto; text-align: center;}
.sub3_text2 h1{font-size: 1.5em;}
.sub3_text2.left{width: 50%; float: left;}
.sub3_text2.left h2{margin: 10px;font-size: 1.2em;}
.sub3_text2.left p{line-height: 22px; font-size: 0.75em;}
.sub3_text2.right{width: 50%; float: right; height: 200px;}
.sub3_text2.right h2{margin: 10px;font-size: 1.2em;}
.sub3_text2.right p{line-height: 22px; margin-top: 20px; font-size: 0.75em;}

.sub3_left{float: none; width: 100%;}
.sub3_right{float: none; width: 100%;}
.sub3_txt{margin: 40px auto;}
.sub3_txt1 p{font-size: 0.85em;}
.sub3_right{height: auto;}
.sub3_right.one{margin-bottom: 20px;}
.sub3_right.one img{width: 50%; padding-top: 20px;}
.sub3_right h1{margin-top: 10px; font-size: 1.3em; line-height: 20px; padding: 20px 0;}
.sub3_right.two{padding-bottom: 20px;}
.sub3_right.three img{width: 50%; margin-top: 20px;}
.sub3_right.four{padding-bottom: 20px;}
.sub3_right.four h1{margin-top: 0; font-size: 1.3em;}
.sub3_left{height: auto; padding-bottom: 20px;}
.sub3_left p{font-size: 1.0em;}
.sub3_left h1{margin-top: 0; font-size: 1.3em;}
.sub3_left.three h1{margin-top: 0; font-size: 1.3em;}
.sub3_left.two img{width: 40%; margin-top: 20px;}
.sub3_left.four{padding-bottom: 0;}
.sub3_left.four img{width: 50%; margin-top: 20px;}
/* sub4 */
.sub4_content{clear: both; width: 85%; margin: 30px auto; text-align-last: left;}
.field1{margin-bottom: 0; height: auto; margin-bottom: 20px;}
.field1 label{float: left; text-indent: 2px;}
.field1 .data_f{display: inline-block; height: 32px; border: 1px solid #ccc; width: 100%; margin-top: 14px; text-indent: 1em; border-radius: 60px;}
.field2{width: 100%; height: 100px; margin-left: 0;}
.field2 label{text-indent: 2px;}
.data_f1{display: inline-block; height: 32px; border: 1px solid #ccc; width: 100%; margin-top: 14px; text-indent: 1em; border-radius: 60px;}
.field3{float: left;}
.field3 .data_f1{width: 330%;}
.field3 label{text-indent: 2px;}
.answer{display: none;}
.sm_answer{display: none;}
.mo_answer{clear: both; display: block; width: 100%; height: auto;}
.mo_answer label{display:block; width: 100%; height: 30px; background-color:#66999c; border-radius: 5px; padding-top: 6px; box-sizing: border-box; color:#fff; font-weight: 500; margin: 5px auto; padding-left: 20px;}
.qna{margin-left:0; margin-top: 30px;}
.qna_box{display: inline-block; height: 32px; border: 1px solid #ccc; width: 100%; height: 150px; margin-top: 14px; border-radius: 5px;}
.submit_btn{margin-left:0;}
.submit_btn input{width:100%; padding-left: 40%;}

/* sub5 오시는길 */
.sub_content5 h3{text-align: center;}
.sub_content5 .map{width: 70%; height: auto;}
.sub_content5 p{font-family: 'Noto Sans KR', sans-serif; font-size: 0.7em; line-height: 30px;margin-bottom: 40px;}
}